* {
  box-sizing: border-box;
}
.body {
  /* font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif; */
}
@media (min-width: 0px) {
  .container {
    min-width: 300px;
  }
  .start-screen {
    background-image: url(../img/mobile_img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 14px;
    /* height: 540px; */
    width: 300px;
    padding-bottom: 153px;
    margin-bottom: 35px;
    padding-top: 153px;
  }
  .start-screen__name {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 27px;
    text-align: center;
  }
  .start-screen__btn {
    display: none;
  }
  .start-screen__slogan-start {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    margin-bottom: 6px;
    text-align: center;
  }
  .start-screen__slogan-end {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #f7f3f2;
    margin-bottom: 15px;
  }
  .btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px 11px 19px;
    border-radius: 24px;
  }
  .btn_red {
    color: #ffffff;
    background-color: #ff4e50;
  }
  .btn_white {
    color: #ff4e50;
    background-color: #fff;
    border: 2px solid #ff4e50;
  }
  .steps {
    margin-bottom: 40px;
  }
  .steps__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #444444;
    margin-bottom: 15px;
  }
  .step__wrapper {
    padding-top: 17px;
    padding-left: 20px;
    min-height: 240px;
    margin-bottom: 10px;
  }
  .step__number {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    background-color: #ff4e50;
    border-radius: 14px;
    padding: 5px 14px 3px 14px;
    margin-bottom: 23px;
  }
  .step__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 9px;
  }
  .step__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #e3e3e3;
  }
  .step_1 {
    background-image: url(../img/mobile_img/Step_1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .step_2 {
    background-image: url(../img/mobile_img/Step_2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .step_3 {
    background-image: url(../img/mobile_img/Step_3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .partner {
    margin-bottom: 18px;
    padding: 0 10px;
  }
  .partner__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #444444;
    margin-bottom: 14px;
  }

  .partner__item {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 16px;
    text-align: center;
  }
  .partner__img {
    border-radius: 50%;
  }
  .partner__likes {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 17px;
  }
  .partner__likes::after {
    background-image: url(../img/sprite_icons.png);
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    bottom: 0;
    right: 0;

    border: #fff solid 4px;
    border-radius: 50%;
  }
  .partner__likes_music::after {
    background-color: #ff4e50;
    background-position: 8px 7px;
  }
  .partner__likes_photo::after {
    background-color: #ffa710;
    background-position: -26px 7px;
  }
  .partner__likes_paint::after {
    background-color: #19d4ca;
    background-position: -62px 8px;
  }
  .partner__likes_plane::after {
    background-color: #667df3;
    background-position: -97px 9px;
  }
  .partner__name {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
    margin-bottom: 12px;
  }
  .partner__description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
  }
}

@media (max-width: 600px) {
}
